tr.trstyle {
 
}
tr.trCenterstyle {
    text-align: center;
    width: 100%;
}

td.tdhstyle {
    vertical-align: middle; /*文字控制 */
    text-align: right;
    font-family: 微軟正黑體;
    font-weight: normal;
    font-size:15px;
    padding-right:5px;
}
td.tdbstyle {
    text-align: left;
    vertical-align: middle;
    font-family: 微軟正黑體;
    font-weight: normal;
    font-size: 15px;
    padding-left:5px;
}
td.tdtstyleRight /* 底 */ {
    vertical-align: middle; /*文字控制 */
    text-align: right;
    font-family: 微軟正黑體;
    font-weight: normal;
    font-size: 15px;
    padding-right:20px;
}

td.tdtstyleLeft /* 底 */ {
    vertical-align: middle; /*文字控制 */
    text-align: left;
    font-family: 微軟正黑體;
    font-weight: normal;
    font-size: 15px;
    padding-left: 20px;
}

.textbox_char {
    text-align: left;
    font-family: 微軟正黑體;
    font-size: 15px;
}

.date_S_style {
    text-align: left;
    font-family: 微軟正黑體;
    font-size: 15px;
    width: 150px;
    margin-right: 3px;
}
.date_E_style {
    text-align: left;
    font-family: 微軟正黑體;
    font-size: 15px;
    width: 150px;
    margin-left: 3px;
}

.buttonStyle {
    font-size:20px;
    border-radius: 4px;
    border: 5px blue none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

    .buttonStyle:hover {
        opacity: 0.8;
    }

.search_section_all {
    background-color: #e1d6c7;
    background: -moz-linear-gradient(top, #e1d6c7 0%, #cfa367 90%, #cc9b58 100%);
    background: -webkit-linear-gradient(top, #e1d6c7 0%,#cfa367 90%,#cc9b58 100%);
    background: linear-gradient(to bottom, #e1d6c7 0%,#cfa367 90%,#cc9b58 100%);
    width: 100%;
}

.search_section_control {
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.edit_section_control {
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
}

.button_change_section {
    width: 100%;
    text-align: center;
    margin: auto;
    text-align: left;
}

.Table_Search tbody tr:hover, #Table_Exec_Data tbody tr:hover {
    background-color: #f8981d;
    color: white;
}

input:disabled:not([type=button]), select[disabled], textarea[disabled] {
    background-color: #FFFFDE;
}

.V_BT {
    background-color: azure !important;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

    .V_BT:hover {
        background-color: #f8981d;
        color: white;
    }

.tableClick {
    color: white;
    background-color: rgb(90, 20, 0) !important;
}