<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MP.master.cs" Inherits="MP"%>

<!DOCTYPE html>

<html>
<head runat="server">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />--%>

    <title>MP</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/ivan_logo.ico"/>

    <%--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">--%>
    <link href="css/css.css" rel="stylesheet" />
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <%--<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">--%>
    <link href="/css/jquery-ui.css" rel="stylesheet" />
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <link href="/css/jquery.loading.min.css" rel="stylesheet" />
    <script src="/js/jquery.loading.min.js"></script>
    <link href="/css/Ivan_Style.css" rel="stylesheet" />

    <style type="text/css">
        .dataTables_length, .dataTables_length select{ font-size: 13px;}
        .table_th{
            background-color:#e1d6c7;
            background: -moz-linear-gradient(top,  #e1d6c7 0%, #cfa367 90%, #cc9b58 100%); 
            background: -webkit-linear-gradient(top,  #e1d6c7 0%,#cfa367 90%,#cc9b58 100%); 
            background: linear-gradient(to bottom,  #e1d6c7 0%,#cfa367 90%,#cc9b58 100%); 
            width:98%;
            font-size : 15px;
            border-radius: 5px;
            text-align: center; 
            margin: 0 auto;
        }

        .table_td {
            font-size: 15px;
            border-color: #A6C9E2;
            color: #2E6E9E
        }
        .ATD{
            width:10%;
            text-wrap:none;
        }
        
        .BTN{
            font-size:20px;
            cursor:pointer;
            background-color: cadetblue;
            padding: 8px 10px;
            border-radius: 10px;

            display: block;
            color: white;
            font-weight: bold;
            border: 1px solid #999;
        }
        .BTN:hover {
            opacity: 0.8;
        }
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="width:auto;height:auto">
    <form id="form1" runat="server">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar js-sticky-header site-navbar-target" role="banner">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-xl-2">
                        <h1 class="mb-0 site-logo">
                            <a href="\IDX1.aspx">
                                <img src="\images/IVAN_250x150.jpeg" height="60" />
                            </a>
                        </h1>
                    </div>
                    
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <%--<li><a href="#home-section" class="nav-link">Home</a></li>--%>
                                <li class="has-children">
                                    <a href="#" class="nav-link" style="vertical-align:sub;" IVM_P="1"><%=Resources.MP.Base%></a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="#" IVM_P="11" class="nav-link"><%=Resources.MP.Supplier%></a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/Page/Base/Supplier/Supplier1.aspx" IVM_P="34"><%=Resources.MP.Supplier + Resources.MP.Speace + Resources.MP.Search%></a>
                                                    <a href="/Page/Base/Supplier/Supplier_MT.aspx" IVM_P="35"><%=Resources.MP.Supplier + Resources.MP.Speace + Resources.MP.Maintenance%></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="12" class="nav-link"><%=Resources.MP.Customer%></a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/Page/Base/Customer/Customer1.aspx" IVM_P="36"><%=Resources.MP.Customer + Resources.MP.Speace + Resources.MP.Search%></a>
                                                    <a href="/Page/Base/Customer/Customer_MT.aspx" IVM_P="37"><%=Resources.MP.Customer + Resources.MP.Speace + Resources.MP.Maintenance%></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="13" class="nav-link">Cost</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/Page/Base/Cost/Cost_MT.aspx" IVM_P="38">Cost<%=Resources.MP.Speace + Resources.MP.Search + Resources.MP.Speace + Resources.MP.Maintenance%></a>
                                                    <a href="/Page/Base/Cost/Cost_Multiple_MT.aspx" IVM_P="39">Cost<%=Resources.MP.Speace + Resources.MP.Multiple + Resources.MP.Speace + Resources.MP.Maintenance%></a>
                                                    <a href="/Page/Base/Cost/Cost_Class.aspx" IVM_P="40"><%=Resources.MP.Cost_Class + Resources.MP.Speace + Resources.MP.Maintenance%></a>
                                                    <a href="/Page/Base/Cost/Cost_Apply.aspx" IVM_P="41">Cost<%=Resources.MP.Speace + Resources.MP.Applyopen%></a>
                                                    <a href="/Page/Base/Cost/Cost_Approve.aspx" IVM_P="42">Cost<%=Resources.MP.Speace + Resources.MP.Approve%></a>
                                                    <a href="/Page/Base/Cost/Fist_CAA_Approve.aspx" IVM_P="43">Cost<%=Resources.MP.CAC_Approve%></a>
                                                    <a href="/Page/Base/Cost/Cost_Report.aspx" IVM_P="44">Cost<%=Resources.MP.Speace + Resources.MP.Report%></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="14" class="nav-link">Price</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/Page/Base/Price/Price_MT.aspx" IVM_P="45">Price<%=Resources.MP.Speace + Resources.MP.Search + Resources.MP.Speace + Resources.MP.Maintenance%></a>
                                                    <a href="/Page/Base/Price/Price_Multiple_Copy.aspx" IVM_P="46">Price<%=Resources.MP.Speace + Resources.MP.Multiple + Resources.MP.Speace + Resources.MP.Copy%></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="15" class="nav-link">BOM</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/Page/Base/BOM/BOM_MT.aspx" style="font-size:smaller;" IVM_P="47">BOM<%=Resources.MP.Speace + Resources.MP.Search + Resources.MP.Speace + Resources.MP.Maintenance + "(" + Resources.MP.End_Product + Resources.MP.Speace + Resources.MP.Change + ")"%></a>
                                                    <a href="/Page/Base/BOM/BOM_Multiple_MT.aspx" style="font-size:smaller;" IVM_P="48">BOM<%=Resources.MP.Speace + Resources.MP.Multiple + Resources.MP.Speace + Resources.MP.Maintenance + "(" + Resources.MP.Material + Resources.MP.Speace + Resources.MP.Change + ")"%></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="16" class="nav-link">條碼作業</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">條碼列印(預計整合?)</a>
                                                    <a href="/Page/Base/Barcode/Barcode_Print.aspx" IVM_P="">內銷條碼列印</a>
                                                    <a href="#" IVM_P="">條碼列印明細維護(x)</a>
                                                    <a href="#" IVM_P="">條碼列印基本資料維護(x)</a>
                                                    <a href="#" IVM_P="">條碼點收與寄送(x)</a>
                                                    <a href="#" IVM_P="">條碼綜合查詢(x)</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="17" class="nav-link">型錄專案(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">型錄專案-年度</a>
                                                    <a href="#" IVM_P="">專案整合-MSRP</a>
                                                    <a href="#" IVM_P="">SHOPIFY上傳與下載</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="/Page/Base/Model_Search.aspx" IVM_P="49"><%=Resources.MP.Model_Search%></a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link" style="vertical-align:sub;" IVM_P="2"><%=Resources.MP.Purchase%>(x)</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="#" IVM_P="18" class="nav-link">採購作業(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">採購維護</a>
                                                    <a href="#" IVM_P="">採購報表</a>
                                                    <a href="#" IVM_P="">採購轉採購</a>
                                                    <a href="#" IVM_P="">採購大備註維護</a>
                                                    <a href="#" IVM_P="">採購綜合查詢</a>
                                                    <a href="#" IVM_P="">大貨安全數維護</a>
                                                    <a href="#" IVM_P="">傳送汐止表單</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="19" class="nav-link">點收作業(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">點收建立</a>
                                                    <a href="#" IVM_P="">點收轉入庫</a>
                                                    <a href="#" IVM_P="">每日點收查詢</a>
                                                    <a href="#" IVM_P="">點收明細維護</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="20" class="nav-link">到貨作業(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">到貨核銷</a>
                                                    <a href="#" IVM_P="">每日到貨查詢</a>
                                                    <a href="#" IVM_P="">到貨報表</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link" style="vertical-align:sub;" IVM_P="3"><%=Resources.MP.Order%>(x)</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="#" IVM_P="21" class="nav-link">訂單作業(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">訂單主檔維護</a>
                                                    <a href="#" IVM_P="">訂單明細新增</a>
                                                    <a href="#" IVM_P="">訂單明細維護</a>
                                                    <a href="#" IVM_P="">訂單轉採購</a>
                                                    <a href="#" IVM_P="">訂單報表</a>
                                                    <a href="#" IVM_P="">取消訂單尾數</a>
                                                    <a href="#" IVM_P="">TLF_PI交期管理</a>
                                                    <a href="#" IVM_P="">匯率維護</a>
                                                    <a href="#" IVM_P="">出貨核准</a>
                                                    <a href="#" IVM_P="">預定交期-訂單</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="22" class="nav-link">SHOPIFY(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">SHOPIFY訂單匯入</a>
                                                    <a href="#" IVM_P="">ISP轉檔</a>
                                                    <a href="#" IVM_P="">ISP主檔維護</a>
                                                    <a href="#" IVM_P="">ISP產品設定</a>
                                                    <a href="#" IVM_P="">ISP備貨與申請</a>
                                                    <a href="#" IVM_P="">ISP放行作業</a>
                                                    <a href="#" IVM_P="">ISP出貨作業</a>
                                                    <a href="#" IVM_P="">ISP出貨查詢</a>
                                                    <a href="#" IVM_P="">ISP綜合查詢</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="23" class="nav-link">CD客戶退貨(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">~</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="24" class="nav-link">應收帳款(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">應收帳款查詢</a>
                                                    <a href="#" IVM_P="">入金核銷</a>
                                                    <a href="#" IVM_P="">每日入金查詢</a>
                                                    <a href="#" IVM_P="">訂單綜合查詢</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="25" class="nav-link"><%--內銷--%><%=Resources.MP.Store_Sale%>(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">內銷客戶維護</a>
                                                    <a href="#" IVM_P="">內銷客戶查詢</a>
                                                    <a href="#" IVM_P="">營業日報</a>
                                                    <a href="#" IVM_P="">企劃主檔維護</a>
                                                    <a href="#" IVM_P="">企劃主檔多筆維護</a>
                                                    <a href="#" IVM_P="">內銷主檔維護</a>
                                                    <a href="#" IVM_P="">內銷發票變更</a>
                                                    <a href="#" IVM_P="">皮革削薄開單</a>
                                                    <a href="#" IVM_P="">收銀變更作業</a>
                                                    <a href="#" IVM_P="">POS資料庫匯入</a>
                                                    <a href="#" IVM_P="">內銷報表</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" style="vertical-align:sub;" IVM_P="4" class="nav-link">出貨(x)</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="#" IVM_P="26" class="nav-link">備貨作業(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">準備轉備貨</a>
                                                    <a href="#" IVM_P="">備貨維護</a>
                                                    <a href="#" IVM_P="">Invoice維護</a>
                                                    <a href="#" IVM_P="">備貨號碼維護</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="27" class="nav-link">出貨作業(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">出貨報表</a>
                                                    <a href="#" IVM_P="">運送指示單維護</a>
                                                    <a href="#" IVM_P="">放行作業</a>
                                                    <a href="#" IVM_P="">出貨作業</a>
                                                    <a href="#" IVM_P="">運輸公司維護</a>
                                                    <a href="#" IVM_P="">進口稅則號碼維護</a>
                                                    <a href="#" IVM_P="">客戶稅則號碼維護</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#" IVM_P="">進口英文Cost維護</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link" style="vertical-align:sub;"><%--庫存--%><%=Resources.MP.Stock%></a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="#" IVM_P="28" class="nav-link">廠商退貨(x)</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" IVM_P="">SD退貨查詢</a>
                                                    <a href="#" IVM_P="">SD退貨維護</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/Page/Stock/Stock_Search.aspx"><%--庫存查詢--%><%=Resources.MP.Stock + Resources.MP.Speace + Resources.MP.Search%></a>
                                            <a href="/Page/Stock/Stock_IO_Search.aspx"><%--庫存入出查詢--%><%=Resources.MP.Stock + Resources.MP.IO + Resources.MP.Search%></a>
                                            <a href="/Page/Stock/Stock_IO_MutiInsert.aspx"><%--庫存入出多筆新增--%><%=Resources.MP.Stock + Resources.MP.IO + Resources.MP.Multiple%><%=Resources.MP.Insert%></a>
                                            <a href="/Page/Stock/Stock_IO_MT.aspx"><%--庫存入出維護--%><%=Resources.MP.Stock + Resources.MP.IO + Resources.MP.Maintenance%></a>
                                            <a href="/Page/Stock/Stock_IO_Approve.aspx"><%--庫存入出核銷--%><%=Resources.MP.Stock + Resources.MP.IO + Resources.MP.Approve%></a>
                                            <a href="/Page/Stock/Replace_Stock_O.aspx"><%--替代庫存出庫--%><%=Resources.MP.Replace + Resources.MP.Stock + Resources.MP.Stock_O%></a>
                                            <a href="/Page/Stock/Stock_LOC_UPD.aspx"><%--庫位變更--%><%=Resources.MP.Stock_Loc + Resources.MP.Change%></a>
                                            <a href="/Page/Stock/Stock_IO_Rpt.aspx"><%--庫存入出報表--%><%=Resources.MP.Stock + Resources.MP.IO + Resources.MP.Report%></a>
                                            <a href="/Page/Store/Store_StockIO_Ins.aspx"><%--門市庫取申請--%><%=Resources.MP.Store + Resources.MP.Stock_Take + Resources.MP.Apply%></a>
                                            <a href="/Page/Store/Store_StockIO_Approve.aspx"><%--門市庫取核銷--%><%=Resources.MP.Store + Resources.MP.Stock_Take + Resources.MP.Write_Off%></a>
                                            <a href="/Page/Store/Store_StockIO_Shipping.aspx"><%--門市庫取出貨--%><%=Resources.MP.Store + Resources.MP.Stock_Take + Resources.MP.Shipping%></a>
                                            <a href="/Page/Store/Store_PM_Search.aspx"><%--門市PM查詢--%><%=Resources.MP.Store + Resources.MP.Speace%>PM<%=Resources.MP.Speace + Resources.MP.Search%></a>
                                            <a href="/Page/Store/Store_Transfer_Apply.aspx"><%--門市調撥申請--%><%=Resources.MP.Store + Resources.MP.Transfer + Resources.MP.Apply%></a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link" style="vertical-align: sub;" ivm_p="6">裝配(x)</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#" ivm_p="">裝配品備貨號碼維護</a>
                                            <a href="#" ivm_p="">裝配品備貨核銷</a>
                                            <a href="#" ivm_p="">裝配品報表</a>
                                            <a href="#" ivm_p="">裝配品出貨作業</a>
                                            <a href="#" ivm_p="">取消裝配品備貨</a>
                                            <a href="#" ivm_p="">裝配主檔維護</a>
                                            <a href="#" ivm_p="">每日裝配查詢</a>
                                            <a href="#" ivm_p="">裝配品綜合查詢</a>
                                            <a href="#" ivm_p="">裝配歷史查詢</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link" style="vertical-align:sub;" IVM_P="7">樣品</a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="#" IVM_P="29" class="nav-link"><%--樣品開發--%><%=Resources.MP.Sample_Dev%></a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/Page/DEV/Sample/Sample_MT.aspx"><%--樣品開發查詢維護--%><%=Resources.MP.Sample_MT%></a>'
                                                    <%--整合功能，內含報表--%>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="30" class="nav-link"><%--樣品點收--%><%=Resources.MP.Sample_Chk%></a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/Page/DEV/Sample/Sample_Chk.aspx"><%--樣品點收--%><%=Resources.MP.Sample_Chk%></a>
                                                    <a href="/Page/DEV/Sample/Sample_Chk_MT.aspx"><%--樣品點收查詢維護--%><%=Resources.MP.Sample_Chk_MT%></a>
                                                    <a href="/Page/DEV/Sample/Sample_Chk_Dist.aspx"><%--樣品準備作業--%><%=Resources.MP.Sample_Chk_Dist%></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="31" class="nav-link"><%--樣品到貨_New--%>樣品到貨</a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="/Page/DEV/Sample/Sample_Arr.aspx"><%--樣品到貨作業--%><%=Resources.MP.Sample_Arr%></a>
                                                    <a href="/Page/DEV/Sample/Sample_Arr_MT.aspx"><%--樣品到貨查詢維護--%><%=Resources.MP.Sample_Arr_MT%></a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="has-children">
                                            <a href="#" IVM_P="32" class="nav-link"><%--樣品出貨--%><%=Resources.MP.Sample_Ship%></a>
                                            <ul class="dropdown">
                                                <li><a href="/Page/DEV/Sample/Sample_Inv_MT.aspx"><%--樣品INVOICE查詢維護--%><%=Resources.MP.Sample_Inv_MT%></a></li>
                                                <li><a href="/Page/DEV/Sample/Sample_Pack.aspx"><%--樣品備貨作業--%><%=Resources.MP.Sample_Pack%></a></li>
                                                <li><a href="/Page/DEV/Sample/Sample_Pack_MT.aspx"><%--樣品備貨查詢維護--%><%=Resources.MP.Sample_Pack_MT%></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="#" IVM_P="33" class="nav-link"><%--報價作業(ReName>樣品報價)--%><%=Resources.MP.Quote_Base%></a>
                                            <ul class="dropdown">
                                                <li><a href="/Page/DEV/Quote/Quote_Base.aspx"><%--報價作業--%><%=Resources.MP.Quote_Base%></a></li>
                                                <li><a href="/Page/DEV/Quote/Quote_MT.aspx"><%--報價作業查詢維護--%><%=Resources.MP.Quote_MT%></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" style="vertical-align:sub;" class="nav-link" IVM_P="8">理貨(x)</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#" IVM_P="">訂單退貨轉入庫</a>
                                            <a href="#" IVM_P="">快取庫存補貨</a>
                                            <a href="#" IVM_P="">快取補貨查詢</a>
                                            <a href="#" IVM_P="">快取安全數維護</a>
                                            <a href="#" IVM_P="">快取盤點作業</a>
                                            <a href="#" IVM_P="">門市備貨修改</a>
                                            <a href="#" IVM_P="">門市PM查詢</a>
                                            <a href="#" IVM_P="">理貨報表</a>
                                            <a href="#" IVM_P="">傳送表單列印</a>
                                            <a href="#" IVM_P="">運送指示單列印</a>
                                            <a href="#" IVM_P="">快遞套印</a>
                                            <a href="#" IVM_P="">汐止報表</a>
                                            <a href="#" IVM_P="">每日汐止工單</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" style="vertical-align:sub;" class="nav-link" IVM_P="9">會計(x)</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#" IVM_P="">IV費用維護</a>
                                            <a href="#" IVM_P="">CD客戶退貨核銷</a>
                                            <%--與訂單模組重複?--%>
                                            <a href="#" IVM_P="">CD客戶退貨查詢</a>
                                            <a href="#" IVM_P="">會計報表</a>
                                            <a href="#" IVM_P="">建立應付-台灣</a>
                                            <a href="#" IVM_P="">應付主檔維護</a>
                                            <a href="#" IVM_P="">固定資產查詢</a>
                                            <a href="#" IVM_P="">固定資產維護</a>
                                            <a href="#" IVM_P="">進銷維護</a>
                                            <a href="#" IVM_P="">銷項維護</a>
                                            <a href="#" IVM_P="">零稅率銷售額維護</a>
                                            <a href="#" IVM_P="">匯入月結資料</a>
                                            <a href="#" IVM_P="">匯出作業</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#about-section" style="vertical-align:sub;" class="nav-link" IVM_P="10">總帳</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#" IVM_P="">~</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="#" class="nav-link"><%=Resources.MP.More%></a>
                                    <ul class="dropdown">
                                        <li class="has-children">
                                            <a href="#" class="nav-link"><%=Resources.MP.Language%></a>
                                            <ul class="dropdown">
                                                <li>
                                                    <a href="#" onclick="document.cookie='Language=';javascript:location.reload();">中文</a>
                                                    <a href="#1" onclick="document.cookie='Language=EN';javascript:location.reload();">English</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="\Login.aspx"><%=Resources.MP.Logout%></a>&nbsp;
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                                
                    </div>
                    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
                </div>
            </div>
        </header>
        <div class="hero" style="height: 10px;width:100%;margin:auto">
            <%--Show_User_Name--%>
            <span style="font-size:small;text-wrap:none;">&nbsp;User: <%=(Session["Account"] == null) ? "Demo" : Session["Account"].ToString().Trim() %></span>
            &nbsp;<span style="font-size:small;text-wrap:none;" id="Session_User"></span>
            <%--if無Session時退回首頁--%>
            <%--<div style="float:right;">
                <a href="\Login2.aspx">Logout</a>&nbsp;
            </div>--%>
            <br />
        </div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.hero').css('height', $('header:nth-child(1)').css('height'));

                //Demo_權限(正式上線解除)
               <%-- var Username = '<%= Session["Account"] %>';
                $('#Session_User').text(" User: " + Username);

                let IVM_P = String("<%= Session["IVM_P"] %>");
                let PERMISSIONS_ALL = IVM_P.split(',');
                $('a[IVM_P]').css('display', 'none');

                PERMISSIONS_ALL.forEach(function (j) {
                    $('a[IVM_P=' + j.trim() + ']').css('display', '');
                });
                let IVMD_PERMISSIONS = String("<%= Session["IVMD_PERMISSIONS"] %>");
                let D_PERMISSIONS_ALL = IVMD_PERMISSIONS.split(',');
                $('[IVMD_PERMISSIONS]').css('display', 'none');

                D_PERMISSIONS_ALL.forEach(function (j) {
                    $('[IVMD_PERMISSIONS=' + j.trim() + ']').css('display', '');
                })--%>

                /* Cookie版權限
                let Cookie_ALL = document.cookie.split(';');
                var PERMISSIONS;
                Cookie_ALL.forEach(function (i) {
                    if (i.indexOf("IVM_P=") > 0) {
                        PERMISSIONS = i.trim().substr("IVM_P=".length, i.length);
                    }
                });
                console.warn(PERMISSIONS);

                let PERMISSIONS_ALL = PERMISSIONS.split(',');
                $('a[IVM_P]').css('display', 'none');

                PERMISSIONS_ALL.forEach(function (j) {
                    console.warn(j.trim());
                    $('a[IVM_P=' + j.trim() + ']').css('display', '');
                })
                */

            });
        </script>

    </form>
</body>
</html>
